body {
  margin: 0;
  top: 0;
}

.swatchGrid {
    display: grid;
    grid-template-columns: repeat(8, 28px);
    grid-template-rows: repeat(2, 28px);
    grid-gap: 6px;
    margin-bottom: 1em;
  }
  
.swatch {
  border-radius: 4px;
  cursor: pointer;
}

  /* .input_another-format {
    disa
  } */
h1, p, label, #attention {
  color:rgb(210, 199, 199);
}

.wrap {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background: linear-gradient(rgba(23, 19, 17, 1), rgba(80, 5, 46, 0.9));
}

.wrap-body {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

#formats {
  margin-bottom: 15px;
}

.input-formats, .top-panel {
  display: flex;
  flex-direction: row;

  margin-bottom: 40px;
}

.input-formats_label {
  display: block;
  margin-bottom: 0.25rem;
}

.input-color, #formats {
  display: block;
  width: 90px;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;

  margin-right: 15px;
  font-family: inherit;

  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.another-format {
  display: flex;
  align-items: center;
}

.label {
  width: 50px;
}

.input_another-format {
  width: 150px;
}

#picked-color, .tooltip-btn {
  display: block;
  width: 90px;
  height: calc(2.25rem + 2px);

  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.tooltip-btn {
  width: 60px;
  background-color:rgb(210, 199, 199);
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #4f4650 transparent transparent transparent;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #4f4650;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#attention {
  font-size: 0.75rem;
}